katalogVina.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="universities" maxOccurs="1">
			<xs:complexType>
			<xs:sequence>
				<xs:element name="university" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
                 <xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="type" type="xs:string"/>
					<xs:element name="dean" type="xs:string"/>
					<xs:element name="yearOfEstablishment">
					  <xs:simpleType>
						<xs:restriction base="xs:integer">
						  <xs:minInclusive value="1500"/>
						  <xs:maxInclusive value="2020"/>
						</xs:restriction>
					  </xs:simpleType>
					</xs:element>
					<xs:element name="academicStaff">
					  <xs:simpleType>
						<xs:restriction base="xs:integer">
						  <xs:minInclusive value="10"/>
						  <xs:maxInclusive value="5000"/>
						</xs:restriction>
					  </xs:simpleType>
					</xs:element>
					<xs:element name="students">
					  <xs:simpleType>
						<xs:restriction base="xs:integer">
						  <xs:minInclusive value="10"/>
						  <xs:maxInclusive value="50000"/>
						</xs:restriction>
					  </xs:simpleType>
					</xs:element>
					<xs:element name="location" type="xs:string"/>

					<!--<xs:element ref="winary"/>-->
					<xs:element ref="region">
					  <xs:complexType>
						<xs:attribute name="refid" type="xs:IDREF"/>
					  </xs:complexType>
					</xs:element>
					<xs:element name="image">
					  <xs:complexType>
						<xs:attribute name="src" type="xs:anyURI"/>
					  </xs:complexType>
					</xs:element>
				</xs:sequence>
				</xs:complexType>
				</xs:element>
			</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
	</xs:complexType>

  
 


  <xs:element name="regions" maxOccurs="1">
   <xs:complexType>
		<xs:sequence>
			<xs:element name="region" maxOccurs="unbounded" minOccurs="1">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="address">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="country" type="xs:string"/>
								<xs:element name="domain" type="xs:string" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				
			  <!--<xs:attribute name="id" type="xs:string" use="required"/>-->
					<xs:attribute name="id" type="xs:ID"/>
			  <!--<xs:attribute name="refid" type="xs:IDREF"/>-->
				</xs:sequence>
			</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
	
  <xs:key name="PK_Region">
      <xs:selector xpath="./regions/region"/>
      <xs:field xpath="@id"/>
  </xs:key>
  
  <xs:keyref name="FK_Region" refer="PK_Region">
      <xs:selector xpath="./universities/university/region"/>
      <xs:field xpath="@refid"/>
  </xs:keyref>
	
  </xs:element>
</xs:schema>
