old/katalogVina.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--<xs:schema id="katalogVina"
    targetNamespace="http://tempuri.org/katalogVina.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/katalogVina.xsd"
    xmlns:mstns="http://tempuri.org/katalogVina.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>-->



  <xs:element name="wine">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="type" type="xs:string"/>
        <xs:element name="producer" type="xs:string"/>
        <xs:element name="yearOfManufacture">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="1500"/>
              <xs:maxInclusive value="2020"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="yearOfPackaging">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="1500"/>
              <xs:maxInclusive value="2020"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="package" type="xs:string"/>
        <xs:element name="price" type="xs:integer"/>

        <xs:element name ="sommelierDiscription">
          <xs:complexType>
            <xs:attributeGroup ref="discriptionAttributes"/>
          </xs:complexType>
        </xs:element>

        <!--<xs:element ref="winary"/>-->
        <xs:element name="winary">
          <xs:complexType>
            <xs:attribute name="refid" type="xs:IDREF"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="image">
          <xs:complexType>
            <xs:attribute name="src" type="xs:anyURI"/>
          </xs:complexType>
        </xs:element>
        
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="discriptionAttributes">
    <xs:attribute name="color" type="xs:string"/>
    <xs:attribute name="fragrance" type="xs:string"/>
    <xs:attribute name="body" type="xs:string"/>
    <xs:attribute name="aftertaste" type="xs:string"/>
  </xs:attributeGroup>



  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="wines">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="wine"  maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


        <xs:element name="wineries">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="winary"  maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    
    <xs:key name="PK_Winary">
      <xs:selector xpath="./wineries/winary"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="FK_Winary" refer="PK_Winary">
      <xs:selector xpath="./wines/wine/winary"/>
      <xs:field xpath="@refid"/>
    </xs:keyref>
  </xs:element>


  <xs:element name="winary">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name"/>
        <xs:element name="address">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="country"/>
              <xs:element name="region"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <!--<xs:attribute name="id" type="xs:string" use="required"/>-->
      <xs:attribute name="id" type="xs:ID"/>
      <!--<xs:attribute name="refid" type="xs:IDREF"/>-->
    </xs:complexType>
  </xs:element>
  
</xs:schema>
